node_modules
dist/index.js
dist/index.umd.js
.vscode
test/test.js.map
test/test.js
src/vfsUtil.js
src/vfsUtil.js.map
src/vfsUtil.d.ts
test/test.webpack.js
package-lock.json
src/fs/LSFS.old.js
src/fs/LSFS.js
src/fs/LSFS.js.map
